@import "../mixins.scss";

.centerElement {
    @include container;
}

.btn {
    border: none;
    background-color: inherit;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}
