@import "./variables.scss";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    transition: all 0.25s ease;
    font-family: "Poppins", sans-serif;
}

body.dark-mode {
    // dm = dark-mode
    background-color: $background-color-dm;
    color: $text-color-dm;
    #navbar {
        background-color: $header-bg-dm;
        color: $background-color-dm;
    }
    #about {
        background-color: $background-color-dm;
        color: $about-text-dm;
    }
    #darkModeToggle > button {
        color: #333333;
        &:last-child {
            color: whitesmoke;
            opacity: 1;
        }
    }
}

a {
    color: inherit;
    transition: all 0.3s ease;
    font-weight: 600;
    &:hover {
        text-decoration: underline;
        opacity: 0.8;
    }
}

a.dark-mode {
    color: red;
}
