$header-bg: #9cada4;
$header-bg-dm: #767c77;
$background-color: #f7d1ba;
$background-color-dm: #333;
$text-color-dm: #f9f9f9;
$about-bg: #f7d1ba;
$about-text: $background-color-dm;
$about-text-dm: $background-color;
